.multilang-flags .lang-item > a[lang="en"] { background-image: url(./img/flags/gb.svg) !important; }
.translate-en { display: none !important; }
.translate.lang-en { display: none !important; }
html[data-lang="en"] .multilang-flags .lang-item > a[lang="en"] { filter: saturate(1) !important; }
html[data-lang=en] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate .lang-en { display: revert !important; }
html[data-lang=en] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate.lang-en { display: revert !important; }
html[data-lang=en] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate > .wp-block-group:not(.lang-en):not(.lang-en) { display: none !important; }
.wp-block-multilang-container .lang-en { display: none !important; }
.wp-block-multilang-container.selected-lang-en .lang-en { display: block !important; }
.editor-styles-wrapper .wp-block-multilang-container .lang-en { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container.selected-lang-en .lang-en { display: block !important; }
.multilang-flags .lang-item > a[lang="de"] { background-image: url(./img/flags/de.svg) !important; }
.translate-de { display: none !important; }
.translate.lang-de { display: none !important; }
html[data-lang="de"] .multilang-flags .lang-item > a[lang="de"] { filter: saturate(1) !important; }
html[data-lang=de] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate .lang-de { display: revert !important; }
html[data-lang=de] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate.lang-de { display: revert !important; }
html[data-lang=de] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate > .wp-block-group:not(.lang-de):not(.lang-en) { display: none !important; }
.wp-block-multilang-container .lang-de { display: none !important; }
.wp-block-multilang-container.selected-lang-de .lang-de { display: block !important; }
.wp-block-multilang-container.selected-lang-de .lang-en { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container .lang-de { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container.selected-lang-de .lang-de { display: block !important; }
.multilang-flags .lang-item > a[lang="fr"] { background-image: url(./img/flags/fr.svg) !important; }
.translate-fr { display: none !important; }
.translate.lang-fr { display: none !important; }
html[data-lang="fr"] .multilang-flags .lang-item > a[lang="fr"] { filter: saturate(1) !important; }
html[data-lang=fr] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate .lang-fr { display: revert !important; }
html[data-lang=fr] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate.lang-fr { display: revert !important; }
html[data-lang=fr] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate > .wp-block-group:not(.lang-fr):not(.lang-en) { display: none !important; }
.wp-block-multilang-container .lang-fr { display: none !important; }
.wp-block-multilang-container.selected-lang-fr .lang-fr { display: block !important; }
.wp-block-multilang-container.selected-lang-fr .lang-en { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container .lang-fr { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container.selected-lang-fr .lang-fr { display: block !important; }
.multilang-flags .lang-item > a[lang="it"] { background-image: url(./img/flags/it.svg) !important; }
.translate-it { display: none !important; }
.translate.lang-it { display: none !important; }
html[data-lang="it"] .multilang-flags .lang-item > a[lang="it"] { filter: saturate(1) !important; }
html[data-lang=it] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate .lang-it { display: revert !important; }
html[data-lang=it] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate.lang-it { display: revert !important; }
html[data-lang=it] :not(.no-translate):not(.wp-block-kevinbatdorf-code-block-pro) .translate > .wp-block-group:not(.lang-it):not(.lang-en) { display: none !important; }
.wp-block-multilang-container .lang-it { display: none !important; }
.wp-block-multilang-container.selected-lang-it .lang-it { display: block !important; }
.wp-block-multilang-container.selected-lang-it .lang-en { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container .lang-it { display: none !important; }
.editor-styles-wrapper .wp-block-multilang-container.selected-lang-it .lang-it { display: block !important; }
.multilang-flags .lang-item > a img { display: none !important; }
.lang-fallback-de { display: none !important; }
html[data-lang=de] .lang-fallback-de { display: block !important; }
.lang-fallback-fr { display: none !important; }
html[data-lang=fr] .lang-fallback-fr { display: block !important; }
.lang-fallback-it { display: none !important; }
html[data-lang=it] .lang-fallback-it { display: block !important; }
